
AutoFramework/ReadMeFirst.txt
AutoFramework/lib/commons-codec-1.10.jar
AutoFramework/lib/commons-compress-1.18.jar
AutoFramework/lib/commons-io-2.6.jar
AutoFramework/lib/commons-lang-2.5.jar
AutoFramework/lib/commons-lang3-3.8.1.jar
AutoFramework/lib/gson-2.8.5.jar
AutoFramework/lib/httpclient-4.5.6.jar
AutoFramework/lib/httpcore-4.4.10.jar
AutoFramework/lib/jarchivelib-1.0.0.jar
AutoFramework/lib/jsoup-1.11.3.jar
AutoFramework/lib/slf4j-api-1.7.25.jar
AutoFramework/lib/webdriver/commons-codec-1.10.jar
AutoFramework/lib/webdriver/commons-compress-1.18.jar
AutoFramework/lib/webdriver/commons-io-2.6.jar
AutoFramework/lib/webdriver/commons-lang3-3.8.1.jar
AutoFramework/lib/webdriver/commons-logging-1.2.jar
AutoFramework/lib/webdriver/gson-2.8.5.jar
AutoFramework/lib/webdriver/httpclient-4.5.6.jar
AutoFramework/lib/webdriver/httpcore-4.4.10.jar
AutoFramework/lib/webdriver/jarchivelib-1.0.0.jar
AutoFramework/lib/webdriver/jsoup-1.11.3.jar
AutoFramework/lib/webdriver/slf4j-api-1.7.25.jar
AutoFramework/lib/webdriver/webdrivermanager-3.7.1.jar
AutoFramework/lib/webdrivermanager-3.7.1.jar
AutoFramework/lib/commons-lang-2.5.jar
